@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', 'Arial', sans-serif;
    list-style: none;
    font-size: 62.5%;
    color: #f1f1f1;
}