header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 3.2rem 0 4.8rem;
}

header h1 {
    font-size: 2.8rem;
    color: #0e0e0e;
}

main ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3.2rem;
    gap: 2.4rem 1.8rem;
    justify-content: center;
    align-items: center;
}

main ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    gap: 8px;
    border-radius: 16px;
    padding: 1rem 1.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s ease;
}

main ol li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

main ol li.grass {
    background-color: #99DF80;
}

main ol li.fire {
    background-color: #FEAC32;
}

main ol li.water {
    background-color: #6BE2EA;
}

main ol li.electric {
    background-color: #EEF13D;
}

main ol li .pokemon-name {
    font-size: 1.6rem;
}

main ol li .pokemon-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    width: 100%;
}

main ol li .pokemon-data .pokemon-type h3 {
    font-size: .8rem;
    margin-bottom: 4px;
    padding: 2px 8px;
    border-radius: 50px;
    text-align: center;
}

main ol li.grass .pokemon-data .pokemon-type h3 {
    background-color: #70A55E;
}

main ol li.fire .pokemon-data .pokemon-type h3 {
    background-color: #BD4F11;
}

main ol li.water .pokemon-data .pokemon-type h3 {
    background-color: #26B8C1;
}

main ol li.electric .pokemon-data .pokemon-type h3 {
    background-color: #81840C;
}

footer p {
    text-align: center;
    background-color: #0e0e0e;
    max-width: fit-content;
    margin: 4rem auto;
    padding: 8px 16px;
    font-size: 1.4rem;
    border-radius: 25px;
}